@import url('https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,700,700i');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

html,
body {
  height: 100%;
}

body {
  font-family: "Lato", "Muli", "Helvetica Neue", "Arial", sans-serif;
  color: #262628;
  margin: 0;
}

#kc-container {
  height: 100%;
}

.title {
  margin-bottom: 15px;
}

.separator {
  width: 100%;
  height: 1px;
  background-color: #E9E9EA;
  margin: 40px 0;
}

.btn-separator {
  display: flex;
  align-items: center;
  column-gap: 30px;
}

.btn-separator-text {
  font-size: 16px;
  color: #BAB9C1;
}

.mdc-floating-label {
  z-index: 1;
  background-color: white;
  padding: 0 5px;
  font-family: "Lato", "Muli", "Helvetica Neue", "Arial", sans-serif;
  transform: translateY(-130%) scale(.75);
}

.mdc-text-field {
  width: 100%;
  margin-top: 16px;
  --mdc-theme-primary: #396679;
  border-width: 1px;
  border-style: solid;
  border-radius: 8px;
  border-bottom-color: #BDBDBD !important;
  border-left-color: #BDBDBD;
  border-right-color: #BDBDBD;
  border-top-color: #BDBDBD;
}

.mdc-text-field--focused {
  border-bottom-color: #396679 !important;
  border-left-color: #396679;
  border-right-color: #396679;
  border-top-color: #396679;
}

.mdc-text-field--focused input::placeholder {
  color: #396679 !important;
}

.mdc-text-field--focused .mdc-floating-label {
  color: #396679 !important;
}

.mdc-text-field--invalid {
  border-bottom-color: #b00020 !important;;
  border-left-color: #b00020;
  border-right-color: #b00020;
  border-top-color: #b00020;
}

#forgot-password-link {
  display: block;
  font-size: 14px;
  color: #BAB9C1;
  text-decoration: underline;
  margin-bottom: 40px;
}

.eye-icon {
  cursor: pointer;
  outline: none;
  align-self: center;
  margin-right: 20px;
}

.mdc-button {
  font-family: "Lato", "Muli", "Helvetica Neue", "Arial", sans-serif;
  font-size: 16px;
  display: block;
  --mdc-theme-primary: #262628;
  height: 56px;
  text-transform: unset;
}

.mdc-link-button {
  display: flex;
}

.mdc-login-button {
  width: 100%;
}

.mdc-register-button {
  width: 100%;
  --mdc-theme-primary: white;
  color: #262628 !important;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08) !important;
}

#kc-header,
#kc-content {
  margin-left: auto;
  margin-right: auto;
}

#kc-header {
  width: 90%;
  font-size: 35px;
  text-align: center;
  margin-bottom: 25px;
  font-weight: 300;
  margin-top: 7%;
  color: rgb(68, 68, 68);
}

.login-wrapper {
  display: flex;
  height: 100%;
  background-image: url("../img/21-bg.jpg");
  background-size: cover;
  padding: 0;
}

.login-wrapper:after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: block;
  background-color: rgba(0, 0, 0, 0.5);
  overflow: hidden;
  z-index: 0;
}

.login-wrapper .login-wrapper-intro {
  flex: 1 1 0%;
  padding: 40px 30px;
  color: white;
  z-index: 1;
}

.login-wrapper .login-wrapper-logo {
  height: 100px;
  margin-bottom: 24px;
}

.login-wrapper .login-wrapper-logo-img {
  height: 100%;
  max-width: 100%;
}

#kc-content {
  z-index: 1;
  width: 700px;
  min-width: 700px;
  max-width: 700px;
  background: white;
  padding: 20px;
  box-shadow: 0 5px 6px -3px rgba(0, 0, 0, 0.2),
  0 9px 12px 1px rgba(0, 0, 0, 0.14), 0 3px 16px 2px rgba(0, 0, 0, 0.12);
}

#kc-content-wrapper {
  width: 100%;
  max-width: 440px;
  margin: 108px auto 0;
}

#kc-reset-password-form #kc-form-options {
  float: left;
}

#kc-reset-password-form #kc-form-buttons {
  float: right;
}

#kc-register-form #kc-form-options {
  float: left;
}

#kc-register-form #kc-form-buttons {
  float: right;
}

.clearfix {
  float: none;
  clear: both;
}

hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.24);
}

@media (max-width: 768px) {
  #kc-content {
    width: 90%;
  }
}

@media (min-width: 769px) {
  #kc-content {
    width: 360px;
  }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
}

#kc-form-login #kc-form-options {
  margin-top: 15px;
}

#kc-form-login-title {
  font-size: 37px;
  margin: 0 0 16px;
  font-weight: 700;
}

#kc-error-message p {
  margin: 0;
}

.remember-me-checkbox {
  float: left;
}

.register .register-field {
  margin-bottom: 15px;
}

.register .register-button-container {
  margin-top: 20px;
}

.reset-password .reset-password-field {
  margin-bottom: 15px;
}

.update-password .update-password-field {
  margin-bottom: 15px;
}

.update-password .update-password-button-container {
  margin-top: 20px;
}

.config-totp .config-totp-button-container {
  margin-top: 15px;
}

.totp .totp-button-container {
  margin-top: 15px;
}

.update-profile .update-profile-field {
  margin-top: 15px;
}

.update-profile .update-profile-button-container {
  margin-top: 20px;
}

.template .language-picker {
  position: relative;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 20px;
  width: 195px;
}

.template .language-picker .language-icon {
  float: left;
  color: rgba(0, 0, 0, 0.54);
}

.template .language-picker .mdc-select {
  float: right;
  margin-top: -25px;
}

.template .language-picker .mdc-select option {
  font-weight: normal;
  display: block;
  white-space: pre;
  min-height: 1.2em;
  padding: 0px 2px 1px;
}
